@import url('https://fonts.googleapis.com/css?family=Orbitron:400,700');

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #000;
}

.timer--counter {
  font-family: 'Orbitron', sans-serif;
  font-size: 30vmin;
  font-weight: 700;
}

.help {
  position: absolute;
  font-family: 'Orbitron', sans-serif;
  font-size: 50px;
  bottom: 10vmin;
}

.black {
  color: #000;
}

.white {
  color: #fff;
}

.yellow {
  color: #ebc700;
}